body {
	font-family: 'courier_primeregular';
	font-size: 16px;
	color: #838383;
}

h1 {
	font-size: 24px;
}

.hero.happy {
	background: url(https://scontent.fmnl4-6.fna.fbcdn.net/v/t1.0-9/14725735_1312331202134608_993624905820739585_n.jpg?_nc_eui2=v1%3AAeFioZu0UcPtRa8ChyFm7G3Nc_oc62_YjvrdMUZoOOR9IJdw-0QOTdRfIdVjnqeF3P-ILyqBeDOS4dI18mVn08jO6XILVlIaUHTd3A7zDeLqcQ&oh=afb7ea12647155d07cd079fec17b7c36&oe=58C98D5A) no-repeat center center;
	background-size: cover;
}

.hero.is-fullheight .column {
	display: flex;
	align-items: center;
}

.hero.yes {
	background: url("../img/trzm6.jpeg") no-repeat center center;
	background-size: cover;
}

.hero.very-happy {
	background: url("../img/trzm2.jpeg") no-repeat center center;
	background-size: cover;
}

.hero.celebrating {
	background: url("../img/trzm3.jpeg") no-repeat center center;
	background-size: cover;
}

.hero.last {
	background: url("../img/trzm4.jpeg") no-repeat center center;
	background-size: cover;
}

.hero-body {
	background: rgba(255, 255, 255, 0.8);
}

.hero .hero-body.lighter {
	background: rgba(255, 255, 255, 0.40);
}

.pink {
	color: #e91e63 !important;
}

.thank .pink {
	margin: 0 8px;
}

p {
	font-family: 'Winter', sans-serif;
	font-size: 16px;
}

.title {
	font-family: 'alex_brushregular';
	font-size: 80px;
}

h1.title {
	font-size: 120px;
}

.subtitle {
	font-family: 'alex_brushregular';
	font-size: 20px;
}

#scroller {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: #e91e63;
	z-index: 3;
}

#scroller h3 {
	font-size: 40px;
}

.yes h2.title {
	margin-left: 20px;
}